<% if content.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h3><%= content.errors.count %>個のエラーがあります。</h3>
    <ul>
	  <% content.errors.full_messages.each do |message| %>
        <li class="error-message"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>