<h1 class="about-top">「共助を育み地域を繋げるオンライン価値交換マーケット」</h1>
<br>
<div class="row animation">
  <div class="col-lg-4 col-xs-12">
    <div class="about-imge1"></div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <h2 class="about-subtitle">　１.ビジネスプランの概要</h2>
    <p class="about-text1">
      　このコロナ禍の影響で、主要８都市では家庭ゴミが７％増加しましたが、それは全てゴミ（無価値）だったのでしょうか。<br>
      　他にも、農家や漁師の方は外食産業や学校給食で使用される予定であった食べ物が多く廃棄されていました。<br>
      　そこで、ある人にとっては価値のないものが、物々交換のwebを介することで新しい価値に生まれ変わるのではと思い、本ビジネスプランを考えました。<br>
      　万願寺甘とうを作りすぎたから必要な人へ「お裾分け」、じゃあ私からは子供服を必要な人へ「お裾分け」。そんな昔からあるが廃れつつある共助の文化を、オンライン上で行うことで、いらなくなったものに新しい価値を与え、「モノの価値」の最大化、最適化を目指します。<br>
      　また、交換できる範囲を周辺地域に限定することで、失われつつある地域コミュニティーの活性化を目標にしつつ、対面する人を最小限に抑えることでポストコロナの時代にあった価値交換マーケットを構築します。<br>
    </p>
  </div>
</div>
<br>
<div class="row animation">
  <div class="col-lg-4 col-xs-12 displey-none">
    <div class="about-imge2"></div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <h2 class="about-subtitle">　２.ビジネスにかける想い</h2>
    <p class="about-text2">
      　この地域限定オンライン価値交換マーケットが地域に浸透することで、ゴミ（無価値）だったものが、宝（価値あるもの）に変わります。日本人の心の奥底に眠る「もったいない」、「良いもの長く使い続ける」価値観が再燃して欲しいと考えています。<br>
      　このビジネスプランは、「手渡しでの交換」と「金銭のやり取りを行わない」ことを特徴としています。ポストコロナでも人との繋がりを失わず、お裾分けを行うことで優しさ・共助の精神を育み、あえて金銭のやり取りを行わないことで、その優しさと共助の精神が金銭価値にすり変わらないようにすることを目的としています。<br>
    </p>
  </div>
  <div class="col-lg-4 col-xs-12 displey-on">
    <div class="about-imge2"></div>
  </div>
</div>
<br>
<div class="row animation">
  <div class="col-lg-4 col-xs-12">
    <div class="about-imge3"></div>
  </div>
  <div class="col-lg-8 col-xs-12">
    <h2 class="about-subtitle">　３.地域を変革する事項</h2>
    <p class="about-text1">
      　今まで仲の良い知り合い程度で行われていた物々交換の共助が、本部の認証により信用を担保することで、より広い範囲で行われます。<br>
      　はじめは物々交換による価値の等価交換を行いますが、最終的にはお裾分け（GIVEの精神）が先行する共助の社会を作りたいと考えています。<br>
      　農家が作りすぎたサツマイモが、給食を必要としているNPOへ。そのNPOで働く人は高齢者施設のお手伝いへ。<br>
      　高齢者施設の方は培ってきたサツマイモの栽培技術を農家へ。<br>
      　「私はあなたに10のことをしたのだから、あなたは私に10の対価をください」ではなく、「私がした10のことが、回りまわっていつの間にか10より大きい価値が回ってくる」。<br>
      　そんな共助のコミュニティーが形成されることで、年収がいくらや、高級車に乗っている等ではない、例え経済が止まっても人が幸福に生きることができる地域を作りたいです。<br>
    </p>
  </div>
</div>
