<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h1 class="home-text">
      お金を使わず不用品に価値を与え<br>
      地域を繋げるプロジェクト
    </h1>
    <%= link_to "About", about_path, class: "btn btn-info btn-lg", 'data-turbolinks': false %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="home-imge1"></div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= link_to "新規登録して投稿しましょう", new_user_registration_path, 'data-turbolinks': false, class: "btn btn-success btn-lg" %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= link_to "商品を見てみよう", products_path, class: "btn btn-danger btn-lg" %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-warning btn-lg" %>
  </div>
  
</div>
<!--<%#= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post %>
<%#= link_to 'Signin with Google', user_google_oauth2_omniauth_authorize_path, method: :post %>-->