<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h1 class="home-text">
      お金を使わず不用品に価値を与え<br>
      地域を繋げるプロジェクト
    </h1>
    <%= link_to about_path, class:"link", 'data-turbolinks': false do %>
      <div class="link-b">About</div>
    <% end %>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="home-imge1"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= link_to new_user_registration_path, class:"link" do %>
      <div class="link-g">新規登録して投稿しましょう</div>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= link_to products_path, class:"link" do %>
      <div class="link-p">商品を見てみよう</div>
    <% end %>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <%= link_to new_user_session_path, class:"link" do %>
      <div class="link-y">ログイン</div>
    <% end %>
  </div>
</div>
<!--<%#= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post %>
<%#= link_to 'Signin with Google', user_google_oauth2_omniauth_authorize_path, method: :post %>-->