<div class="thanks">
  <h1 class="thanks-title">お問い合わせありがとうございます</h1>
  <p class="thanks-text">
    ※メールアドレスが間違っている場合は「自動確認メール」が届きません<br>
    　お手数ですが再度ご記入くださいませ。
  </p>
  <div class="sign-up-imge thank"></div>
  <!--<%# <meta http-equiv="refresh" content=" 3; url = /public/products"> %>-->
</div>
