<div class="thank">
  <h1>お問い合わせありがとうございます</h1>
  <p>
    ※メールアドレスが間違っている場合は「自動確認メール」が届きません<br>
    　お手数ですがご記入くださいませ。
  </p>
  <div class="sign-up-imge thank"></div>
  <!--<%# <meta http-equiv="refresh" content=" 3; url = /public/products"> %>-->
</div>
