/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
 @import url('https://fonts.googleapis.com/css?family=Sacramento');


*{
font-family: 'M PLUS Rounded 1c', sans-serif;
	position: relative; z-index:1;

}

html {
    height: 100%;
}
body {
    padding-top:70px;
    margin: 0;
    background-color:rgba(0,0,0,0.05);
    min-height:800px;
    padding-bottom: 70px;
}

header{
	background-color:rgba(255,255,255,0.5);
	height: 70px;
}
header li{
	list-style: none;
	color:white;
}
header h4{
	color:black;
	font-family: 'Sacramento', cursive;
	font-size: 43px;
	margin-left: -20px;
}

footer{
   background-color: rgba(255,255,255,1);
   position: fixed;
   bottom: 0;
   width: 100%;
   height: 40px;
   text-align: right;
   font-size:30px;
   margin-top:20px;
}
footer i{
	margin-right:15px;
}
.Editlink{
	color:rgba(0, 0, 0, 0.7);
	height: 70px;
}
.admin-title{
	font-weight: bold;
}
.top{
	margin-top:-70px;
}
.cake-image{
	height:900px;
	background-color: white;
}
.video-content{
	margin-top:-100px;
	height:1000px;
	width:100%;
}
.home-text{
	text-align: center;
	font-size:15px;
	background-color: white;
	margin-top: -140px;
	margin-bottom:-13px;
	font-size: 20px;
}
.top h3{
	text-align: center;
}
.youtube{
	color:red;
}
.insta{
	color:#cc6699;
}

.about-text{
	text-align: center;
	padding-right:450px;
	padding-top:100px;
	font-size:20px;
}
.Nagano{
	font-family: 'Sacramento', cursive;
	font-weight: bold;
	font-size: 30px;
}
.cakeya{
	float:left;
	margin-right:30px;
	margin-bottom:80px;
}
.about-cake-image{
	height: 600px;
	background-image: url("/images/ケーキ3.jpg");
    background-size:cover;
}

.login{
	text-align: center;
}
.forgot{
	text-align: right;
}
.sign_up p{
	height:37px;
}

.margin-right{
	margin-right: 40px;
}

.destinations-text p{
height:36px;
}

.pull-right{
	margin-bottom: 10px;
}
.sum{
	font-weight: bold;
}

.Yuko{
	background-color: blue;
	padding:3px;
	color:white;
	border-radius: 4px;
}
.Muko{
	background-color: red;
	padding:3px;
	color:white;
	border-radius: 4px;
}
.customer-text p{
	height: 38px;
}
.customer-text p :first-child{
	height:40px;
}


.strong{
	margin-left:70px;
}
.margin-left-block{
	margin-left: 30px;
}
.second-child{
	margin-right: 120px;
}
.price-margin{
	margin-top:-30px;
}
.product-name{
	border-bottom: dotted 3px rgba(0,0,0,0.5);
}
.product-image{
	border-radius:50%;
}
.product-image2{
	border-radius:50%;
}
.product-image:hover{
    transform: scale(1.1) rotate(9deg);
  transition-duration: 0.5s;
}

.mypage-span{
	font-weight: bold;
	font-size: 17px;
}
.mypage-span-a{
	font-weight: bold;
	font-size: 17px;
	margin-right: 16px;
}
.hide-text{
	text-align: center;
	margin-top: 130px;
	font-size: 20px;
}

.confirm-table{
	height:100px;
}
.thank-you{
    text-align: center;
	margin-top: 130px;
}
.confirm-text{
	font-size:17px;
}

.order-show h4{

}
.nav-link{
	font-size: 18px;
	margin-right: 15px;
}
.new-genre{
	font-color:red;
}

.nav-name{
	height:70px;
	line-height: 70px;
}
.customer-h4{
	margin-top: -60px;
}
.customer-li{
	margin-top: -69.9px;

}

.admin-paginate{
text-align: center;
}

.img-square {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  180px;       /* ※縦横を同値に */
    height: 180px;       /* ※縦横を同値に */
}


