/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
 @import url('https://fonts.googleapis.com/css?family=Sacramento');


 *{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	position: relative;
	z-index:1;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }
 header{
	text-decoration: none;
 }
 html {
    height: 100%;
}

body {
	// background-color:rgba(0,0,0,0.05);
	padding-bottom: 70px;
	
}
header{
	background-color:rgba(0, 0, 0, 0);
	height: 100px;
	a:link {color:black; text-decoration:none }
	a:visited { color:black; text-decoration:none }
	a:hover { color:black; text-decoration:none }
	a:active { color:black; text-decoration:none }
}
header{
	li{
	  list-style: none;
	  color:white;
	}
}
.top-user{
	margin-top: 20px;
}
.top-profile{
	border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
	background-position: center;
    width:  30px;       /* ※縦横を同値に */
    height: 30px;       /* ※縦横を同値に */
}

.title{
	text-align: center;
	padding: 5px 0;
}
.top-search{
	text-align: right;
	padding-top: 20px;
}
.title-name{
	margin: auto;
	color:black;
	font-family: 'Impact', sans-serif;
	font-size: 43px;
}
nav{
	display: flex;
	justify-content: space-around;
}
.header-list{
	margin: auto 0;
}
.Editlink{
	color:rgba(0, 0, 0, 0.7);
}
// ホーム
.home-imge1{
	background-image: url("imge6.jpg");
	width: 400px;
	height: 600px;
	background-position: center;
	background-size: cover;
}
.home-out{
	color: white;
}
.home-about{
	margin: 10px 10px;
	background-color: #191970;
	color: white;
	width: 350px;
	height: 60px;
	text-align: center;
}
.home-btn1{
	margin: 10px 10px;
	color:black;
	background-color: #f0fff0;
	width: 350px;
	height: 60px;
	text-align: center;
}
.home-btn2{
	margin: 10px 10px;
	color:black;
	background-color: #FFEEFF;
	width: 350px;
	height: 60px;
	text-align: center;
}
.home-btn3{
	margin: 10px 10px;
	color:black;
	background-color: #fafad2;
	width: 350px;
	height: 60px;
	text-align: center;
}
// アバウト
.about-imge1{
	background-image: url("imge2.jpg");
	width: 400px;
	height: 400px;
	background-position: center;
	background-size: cover;
}
.about-imge2{
	background-image: url("imge3.jpg");
	width: 400px;
	height: 400px;
	background-position: center;
	background-size: cover;
}
.about-imge3{
	background-image: url("imge4.jpg");
	width: 400px;
	height: 400px;
	background-position: center;
	background-size: cover;
}
.about-imge4{
	background-image: url("imge5.jpg");
	width: 100%;
	height: 800px;
	background-position: center;
	background-size: cover;
}
.about-text1{
	padding-left:20px;
	padding-top:50px;
	font-size:20px;
	font-family: 'Hiragino Kaku Gothic Std';
}
.about-text2{
	padding-right:20px;
	padding-top:50px;
	font-size:20px;
	font-family: 'Hiragino Kaku Gothic Std';
}
// ホーム


// マイページ
.profile-imag{
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-image: image-url("imge1.jpg");
	display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
}
.profile-name{
	font-size: 25px;

}
.img-square {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  160px;       /* ※縦横を同値に */
    height: 160px;       /* ※縦横を同値に */
}
// マイページ

// 新規登録
.sign-up-imge{
	background-image: url("imge5.png");
	width: 600px;
	height: 600px;
	background-position: center;
	background-size: cover;
}
.error-message {
	margin: 10px 30px;
}
.field_with_errors {
	display: contents;
	@extend .has-error;
}
.icon {
	color: pink;
	margin:  10px;
}
// 新規登録

// ジャンル
.genre{
	margin-bottom: 100px;
}
.nav-link{
	font-size: 18px;
}
// ジャンル



.new-genre{
	font-color:red;
}

footer{
	background-color: rgba(255,255,255,1);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 40px;
	text-align: right;
	font-size:30px;
	margin-top:20px;
}
footer i{
	margin-right:15px;
}

.admin-title{
	font-weight: bold;
}
.top{
	margin-top:-70px;
}
.cake-image{
	height:900px;
	background-color: white;
}
.video-content{
	margin-top:-100px;
	height:1000px;
	width:100%;
}
.home-text{
	text-align: center;
	font-size:15px;
	background-color: white;
	margin-top: -140px;
	margin-bottom:-13px;
	font-size: 20px;
}
.top h3{
	text-align: center;
}
.youtube{
	color:red;
}
.insta{
	color:#cc6699;
}


.Nagano{
	font-family: 'Sacramento', cursive;
	font-weight: bold;
	font-size: 30px;
}
.cakeya{
	float:left;
	margin-right:30px;
	margin-bottom:80px;
}
.about-cake-image{
	height: 600px;
	background-image: url("/images/ケーキ3.jpg");
    background-size:cover;
}

.login{
	text-align: center;
}
.forgot{
	text-align: right;
}
.sign_up p{
	height:37px;
}

.margin-right{
	margin-right: 40px;
}

.destinations-text p{
height:36px;
}

.pull-right{
	margin-bottom: 10px;
}
.sum{
	font-weight: bold;
}

.Yuko{
	background-color: blue;
	padding:3px;
	color:white;
	border-radius: 4px;
}
.Muko{
	background-color: red;
	padding:3px;
	color:white;
	border-radius: 4px;
}
.customer-text p{
	height: 38px;
}
.customer-text p :first-child{
	height:40px;
}


.strong{
	margin-left:70px;
}
.margin-left-block{
	margin-left: 30px;
}
.second-child{
	margin-right: 120px;
}
.price-margin{
	margin-top:-30px;
}
.product-name{
	border-bottom: dotted 3px rgba(0,0,0,0.5);
}
.product-image{
	border-radius:50%;
}
.product-image2{
	border-radius:50%;
}
.product-image:hover{
    transform: scale(1.1) rotate(9deg);
  transition-duration: 0.5s;
}

.mypage-span{
	font-weight: bold;
	font-size: 17px;
}
.mypage-span-a{
	font-weight: bold;
	font-size: 17px;
	margin-right: 16px;
}
.hide-text{
	text-align: center;
	margin-top: 130px;
	font-size: 20px;
}

.confirm-table{
	height:100px;
}
.thank-you{
    text-align: center;
	margin-top: 130px;
}
.confirm-text{
	font-size:17px;
}

.order-show h4{

}

.admin-paginate{
text-align: center;
}



// スライドショー
.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
	left: 10px !important;
	z-index: 100;
 }