/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
 @import url('https://fonts.googleapis.com/css?family=Sacramento');
 @import 'setting/_break_point';

*{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
    height: 100%;
}
body {
	padding-bottom: 70px;
}
/*ページネーション自体のデザイン*/
.pagination>li>a {          
	border: none;     /*枠線をなくす*/
	color: #696969;   /*文字の色を変える*/
}
  /* 表示しているページ番号のデザイン */
.pagination>.active>a {     
	background: #93c9ff;     /*背景の色を変える*/
	border-radius: 15px;     /*角を丸くする*/
}
/*ホバー時のデザイン*/
.pagination>li>a:hover {        
	border-radius: 15px;    /*角を丸くする*/
}
// エラーメッセージ
.error-message {
	margin: 10px 30px;
}
.field_with_errors {
	display: contents;
	@extend .has-error;
}
// エラーメッセージ
//吹き出し共通項目（commentとroom）
.arrow_mybox,.arrow_youbox,.arrow_box{
    position: relative;
	max-width: 450px;
    padding: 10px;
    text-align: left;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    word-wrap: break-word;
    &:after{
        border: solid transparent;
        content: '';
        pointer-events: none;
        position: absolute;
        border-color:  rgba(0, 153, 255, 0);
        border-width: 10px;
        margin-top: -10px;
        top: 20px;
    }
}
// 新規登録 サンキューページ 画像
.sign-up-imge{
	background-image: image-url("imge7.png");
	width: 600px;
	height: 800px;
	background-position: center;
    background-size: cover;
    margin: 0 auto;
	@include max-screen($breakpoint-lg) { /* 1200px以下のとき */
		width: 500px;
		height: 700px;
    }
    @include max-screen($breakpoint-md) { /* 991px以下のとき */
        width: 350px;
        height: 400px;
    }
	@include max-screen($breakpoint-xs) { /* 480px以下のとき */
		width: 180px;
		height: 200px;
	}
}
// 新規登録 サンキューページ 画像