// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting/_break_point';

// いいね コメント
.favorite-comment {
	display: flex;
	justify-content: center;
	font-size: 16px;
	padding-bottom: 10px;
}
.favorite {
    padding-left: 10px;
	li {
		list-style: none;
	}
	a {
		&:link {
			color:black;
			text-decoration:none;
		}
	}
}
#comment {
	li {
		list-style: none;
	}
}
.comment-box {
	padding-top: 30px;
}
.comment-list {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	margin-bottom: 20px;
}
.comment-prof {
	width: 80px;
	min-height: 60px;
}
.comment-imag {
	margin: 0 auto;
}
//共通項目はapplicationに記載
.arrow_box {
	background:  #0099FF;
	margin: 10px;
	&:after {
		border-right-color: #0099FF;
		right: 100%;
	}
}
.comment-form {
	.form-control {
		margin: 0 auto;
		max-width: 497px !important;
		display: inline !important;
		@include max-screen($breakpoint-lg) { /* 1200px以下のとき */
			max-width: 557px !important;
		}
		@include max-screen($breakpoint-md) { /* 991px以下のとき */
			max-width: 662px !important;
		}
		@include max-screen($breakpoint-xs) { /* 480px以下のとき */
			max-width: 272px !important;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
}