// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting/_break_point';

.genre {
	margin-top: 100px;
}
.genre-nav {
	font-size: 18px;
}
@include max-screen($breakpoint-xs) {
	.genre-title, .genre-nav {
		font-size: 10px;
	}
}