// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ジャンル
.genre{
	margin-top: 100px;
}
.genre-nav{
	font-size: 18px;
}
// ジャンル
@media (max-width: 480px){
	.genre-title{
		font-size: 10px;
	}
	.genre-nav{
		font-size: 10px;
	}
}