// Place all the styles related to the inquiry controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting/_break_point';

.thanks{
    text-align: center;
    margin: auto;
}
@include max-screen($breakpoint-xs) { /* 480px以下のとき */
    .thanks-title{
        font-size: 20pz;
    }
    .thanks-text{
        font-size: 10px;
    }
    .inquiry{
        tr{
            th,td{
                width: 100%;
                display: block;
                border-style: none !important;
            }
            td{
                border-bottom: 1px solid #ddd !important;
            }
        }
    }
}