// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting/_break_point';

.order {
	thead tbody {
		tr {
			th {
                text-align: center;
                @include max-screen($breakpoint-xs) { /* 480px以下のとき */
                    font-size: 10px;
                }
			}
		}
    }
}
.order-image {
    background-position: center;
    @include max-screen($breakpoint-xs) { /* 480px以下のとき */
        width: 40px;
        height: 40px;
    }
}