// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting/_break_point';

// 商品一覧
.product-contena{
	display: flex;
	width: 100%;
	justify-content: flex-start;
	flex-wrap: wrap;
	a{
		&:link,&:visited,&:hover,:active {
			color:black;
			text-decoration:none;
		}
	}
}
.product-box{
	width: 200px;
	text-align: center;
	@include max-screen($breakpoint-xs) { /* 480px以下のとき */
		width: 100px;
	}
}
.product-image{
	border-radius: 50%;
	width:  160px;       /* ※縦横を同値に */
	height: 160px;       /* ※縦横を同値に */
	@include max-screen($breakpoint-xs) { /* 480px以下のとき */
		width:  80px;
		height: 80px;
	}
}
.product-image:hover{
	transform: scale(1.1) rotate(9deg);
	transition-duration: 0.5s;
}
.product-name{
	text-align: center;
	font-size: 20px;
	@include max-screen($breakpoint-xs) { /* 480px以下のとき */
		font-size: 13px;
	}
}
.product-intro{
	background-color: rgb(245, 245, 245);

	font-size: 18px;
	line-height: 40px;
}
.paginate{
	text-align: center;
}
// 商品一覧
//商品詳細
.product-show{
	tr{
		td{
			font-size: 16px;
		}
	}
}
.product-title{
	font-weight: bold;
}
.product-edit{
	text-align: right;
	@include max-screen($breakpoint-xs) { /* 480px以下のとき */
		text-align: center;
	}
}
.chat-sub{
	margin-top: 50px;
}
// スライドショー
.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
	left: 10px !important;
	z-index: 100;
 }
// 商品詳細
// 商品投稿
.view {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
.view > div {
	margin: 10px;
}
.view_box{
	width: 200px;
}
.img{
	width: 200px;
	height: 200px;
}
.sub-produtc{
	width: 100%;
}
// 商品投稿