// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'setting/_break_point';

.right-button{
	text-align: right;
}
.mychat-box,.youchat-box{
	display: flex;
	align-items: baseline;
	padding: 10px 0;
}
.mychat-box{
	justify-content: flex-end;
}
.youchat-box{
	justify-content: flex-start;
}
//共通項目をcomment.scssに記載（上から順に更新されるため）
.arrow_mybox{
	margin-right: 10px;
    background:  #09ff00;
    &:after{
        border-left-color: #09ff00;
        left: 100%;
    }
}
.arrow_youbox{
    background: #c1c5c7;
    &:after{
        border-right-color: #c1c5c7;
        right: 100%;
    }
}
.room-image{
    width: 100px;
    height: 100px;
    @include max-screen($breakpoint-xs) { /* 480px以下のとき */
        width: 70px;
        height: 70px;
    }
}
.room-post{
	text-align: right;
}
.room-sub{
	margin-top: 10px;
}
.chat-time{
    @include max-screen($breakpoint-xs) { /* 480px以下のとき */
    font-size: 8px;
    }
}
