<table class="table table-bordered genre">
  <tr>
    <th><h4 class="genre-title"><i class="fas fa-list-ul"></i>ジャンル一覧</h4></th>
  </tr>
  <tr>
    <td>
      <%= link_to "全商品", products_path, class: "genre-nav" %>
      <br>
      <% genres.each do |genre| %>
      <br>
        <div>
          <%= link_to genre.name, products_path(genre_id: genre.id), class: "genre-nav" %>
        </div>
      <% end %>
    </td>
  </tr>
</table>
