<div class="row">
  <div class="col-xs-3 genre">
    <div class="genre">
    </div>
    <table class="table table-bordered">
      <tr>
        <th><h4>　<i class="fas fa-search"></i>ジャンル別一覧</h4></th>
      </tr>
      <tr>
        <td>
          <%= link_to("全商品", products_path, {class: "nav-link"}) %>
          <br>
          <% genres.each do |genre| %>
          <br>
            <div>
              <%= link_to( genre.name, products_path(genre_id: genre.id), {class: "nav-link"}) %>
            </div>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
